* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
.bar {
    width: 0;
    height: 50px;
    background-color: greenyellow;
    animation: loading 3s infinite ease-out
}


.container {
    display: flex;
    justify-content: center;


}

  .circle {
    width: 150px;
  height: 150px;
  border-radius: 50%;
  background: yellow;
  margin-top: 100px;
  animation: moving 3s infinite ;
  top: 0;
  left: 0;
  position: absolute;
  }

  .circle:hover {
    width: 0px;
    height: 0px;
    background-color: white;
  }



  @keyframes moving {
    0% {
        background-color: yellow;
        border-radius: 50%;
      top: 0;
      left: 0;
      transform: translate(0, 0)
    }
    25% {
        border-radius: 0%;
      top: 0;
      left: calc(100% - 300px);
      transform: translate(100%, 0);
    }
    50% {
        border-radius: 50%;
      top: calc(100% - 300px);
      left: calc(100% - 300px);
      transform: translate(100%, 100%)
    }
    75% {
        border-radius: 0%;
      top: calc(100% - 300px);
      left: 0;
      transform: translate(100%, 100%)
    }

    100% {
        background-color: yellow;
        border-radius: 50%;
      top: 0;
      left: 0;
      transform: translate(0, 0)
    }

  }


@keyframes loading {

    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}
